#customer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: #fff;
}

.Selected {
    background-color: yellow;
}
.nonSelected {
    background-color: white;
}